.square-container{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
    cursor: pointer;
}

.border-RB{
    border-right: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
}

.border-R{
    border-right: 2px solid #e2e2e2;
}
.border-B{
    border-bottom: 2px solid #e2e2e2;
}