.container{
    width: 100%;
    height: 100vh;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-text{
    font-size: 50px;
    font-weight: 800;
    color: blueviolet;
    margin-right: 70px;
}
.left-button{
    margin-top: 100px;
    width: 240px;
    height: 60px;
    border-radius: 40px;
    font-size: 18px;
    background-color: blanchedalmond;
    border: 2px solid #768898;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

/* .right-wrapper{
    width: 60%;
} */

.players{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    width: 100%;
}
.player{
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(143, 139, 140);
    color: rgb(209, 209, 198);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-player{
    color: rgb(7, 100, 100);
    border-bottom: 5px solid palevioletred;
}
.second-player{
    color: blueviolet;
    border-bottom: 5px solid palevioletred;
}

.games-ground{
    width: 350px;
    height: 350px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}